#filter-form p {
    display: inline;
    font-size: 1.2em;
    margin-left: 10px;
}

#filter-form fieldset {
    margin: 10px 0px;
    padding-left: 25px;
    padding-right: 25px;
}

#filter-form select {
    display: block;
    margin-left: 30px;
    margin-top: 10px;
}

footer {
    margin-top: 60px;
}

/* Trainer Card */

.trainer {
    min-height: 200px;
    margin-bottom: 15px;
}

.trainer h4 {
    text-align: center;
}

.trainer img {
    width: 200px;
    height: auto;
    margin: auto;
    display: block;
}